body {
  font-family: Arial, sans-serif;
  margin: 20px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  textarea {
    width: 100%;
  }
}
